In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
dframe = pd.read_csv("/Users/anirbanbhattacharyya/Desktop/Jupyter notebooks/Lec25.csv",header=None)

In [7]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [8]:
dframe = pd.read_table("/Users/anirbanbhattacharyya/Desktop/Jupyter notebooks/Lec25.csv",sep=',',header=None)

In [9]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [11]:
# We can also indicate a particular number of rows to be read
pd.read_csv("/Users/anirbanbhattacharyya/Desktop/Jupyter notebooks/Lec25.csv",header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [12]:
# Now let's see how we can write DataFrames out to text files
dframe.to_csv('/Users/anirbanbhattacharyya/Desktop/mytextdata_out.csv')

#You'll see this file where you're ipython Notebooks are saved (Usually under my documents)

In [13]:
#  We can also use other delimiters

#we'll import sys to see the output
import sys 

#Use sys.stdout to see the output directly and not save it
dframe.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [14]:
# Just to make sure we understand the delimiter
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?7?dog

In [15]:
#We can also choose to write only a specific subset of columns
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5